body {
    color: #fff;
    font-family: 'Oxygen', sans-serif;
    padding:0;
    margin:0;
}
.all{
    width: 100%;
}
.minus-group{
  visibility: hidden;
}
.split {
    height: 50%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    padding-top: 30px;
    left: 0;
    background:url('../img/mitch-lensink-598128-unsplash.png');
    background-repeat: no-repeat;
    background-size:cover;
}
.split1{
  height: 50%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 50%;
    padding-top: 30px;
    left: 0;
    background-color:#0b010f;
    background-repeat: no-repeat;
    background-size:cover;
}

.split .content{
  width: 70%;
  margin:0 auto;
  text-align: left;

}
.split .centered{
  font-size: 13pt;
  text-align: center;
}
.split footer{
  padding-bottom: 20px;
  padding-left: 20px;
}
.split footer .span-2{
  border-bottom: 2px solid #1aa1ff;
  padding-bottom: 5px;
}
.split footer .span-2 a{
  text-decoration: none;
  color:#fff;
} 
.split a{
  text-decoration: none;
  color:#fff;
}
.split a span{
  border-bottom: 2px solid #1aa1ff;
  padding-bottom: 5px;
}
.split h1{
    font-size: 20pt;
    color:#000;
}
.split hr{
  background-color:#340947;
  width: 60%;
  height: 1px;
  display: block;
  float: right;
}
.split h1 span{
    color:#340947;
    font-weight: bold;
}
.split h2{
  color:#fff;
  font-size: 17pt;
}
.split p{
  font-size: 13pt;
  width: 80%;
  float: right;
}
.split-1{
    height: 100%;
    width: 45%;
    position: fixed;
    z-index: 1;
    top: 0;
    padding-top: 30px;
    right: 5%;
    background:url('../img/drew-hays-59204-unsplash.png');
    background-repeat: no-repeat;
    background-size:cover;
}
.split-1 .nav-item .home span{
  border-bottom: 2px solid #1aa1ff;
  padding-bottom: 5px;
}
.split-1 ul{
    font-size: 11pt;
}
.split-1 .nav-link{
    text-decoration: none;
    color:#fff;

}
.split-1 .row{
  position: absolute;
  bottom: 10px;
}
.split-1 .nav-link span:hover{
  border-bottom: 2px solid #1aa1ff;
  padding-bottom: 5px;
}
.side-bar{
    height: 100%;
    width: 5%;
    position: fixed;
    z-index: 1;
    top: 0;
    padding-top: 30px;
    right: 0;
    background-color: #0f0114;
}
.side-bar .second{
  margin: auto;
  position: absolute;
  left: 40%; bottom: 10px; right: 40%;
}
.side-bar .second .fa-angle-up,.side-bar .second .fa-angle-down{
  font-size: 20px;
}
.side-bar .second .first{
  color:#1aa1ff;
}
.side-bar .second i{
  display: block;
}
/*burger menu*/


.button_container {
  position: fixed;
  top: 5%;
  right: 2%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  transition: opacity 0.25s ease;
}
.button_container:hover {
  opacity: 0.7;
}
.button_container.active .top {
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: #fff;
}
.button_container.active .middle {
  opacity: 0;
  background: #fff;
}
.button_container.active .bottom {
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #fff;
}
.button_container span {
  background: #fff;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.35s ease;
  cursor: pointer;
}
.button_container span:nth-of-type(2) {
  top: 11px;
}
.button_container span:nth-of-type(3) {
  top: 22px;
}
.overlay {
  position: fixed;
  background: #0f0114;
  top: 0;
  right: 0;
  width:50%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  color:#e0dfe0;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
}
.overlay h3{
  font-size: 13pt;
  text-transform: uppercase;
}
.overlay .phone{
  font-size: 15pt;
}
.overlay p{
  width:80%;
  text-align: justify;
}
.overlay button{
  border-radius: 5px;
  box-shadow: none;
  color:#fff;
  background-color:#228b8e;
  border: none;
}
.overlay.open {
  opacity: 0.9;
  visibility: visible;
  height: 100%;
}
.overlay.open li {
  animation: fadeInRight 0.5s ease forwards;
  animation-delay: 0.35s;
}
.overlay.open li:nth-of-type(2) {
  animation-delay: 0.4s;
}
.overlay.open li:nth-of-type(3) {
  animation-delay: 0.45s;
}
.overlay.open li:nth-of-type(4) {
  animation-delay: 0.5s;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
/*sign-in form*/
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-wrap{
  width:100%;
  margin:auto;
  max-width:525px;
  min-height:670px;
  position:relative;
}
.login-html{
  width:100%;
  height:100%;
  position:absolute;
  padding:50px 70px 50px 70px;
  font-size: 13pt;
}
.login-wrap h3{
  font-size: 17pt;
}
.login-wrap hr{
  float: left;
  width: 60%;
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
  top:0;
  left:0;
  right:0;
  bottom:0;
  position:absolute;
  transform:rotateY(180deg);
  backface-visibility:hidden;
  transition:all .4s linear;

}
::placeholder {
    color: #fff;
    opacity: 1; /* Firefox */
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
  display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
  text-transform:uppercase;
}
.login-html .tab{
  font-size:22px;
  margin-right:15px;
  padding-bottom:5px;
  margin:0 15px 30px 0;
  display:inline-block;
  border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
  color:#fff;
  border-color:#1161ee;
}

.login-form{
  min-height:345px;
  position:relative;
  perspective:1000px;
  transform-style:preserve-3d;
}
.login-form .group{
  margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
  width:100%;
  color:#fff;
  display:block;
}
.login-form .group .input,
.login-form .group .button{
  border:none;
  padding:15px 20px;
  border-radius:5px;
  background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
  text-security:circle;
  -webkit-text-security:circle;
}
.login-form .group .label{
  color:#aaa;
  font-size:12px;
}
.login-form .group .button{
  
}
.login-form .group label .icon{
  width:15px;
  height:15px;
  border-radius:5px;
  position:relative;
  display:inline-block;
  background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
  content:'';
  width:10px;
  height:2px;
  background:#fff;
  position:absolute;
  transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
  left:3px;
  width:5px;
  bottom:6px;
  transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
  top:6px;
  right:0;
  transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
  color:#fff;
}
.login-form .group .check:checked + label .icon{
  background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
  transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
  transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
  transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
  transform:rotate(0);
}
.login-form .group .button {
    width: 50%;
    margin: 0 auto;
    height: 50px;
}
.login-html .tab{
  font-size: 13pt;
}
.hr{
  height:2px;
  margin:60px 0 50px 0;
  background:rgba(255,255,255,.2);
}
.foot-lnk{
  text-align:center;
}
.split h2{
  font-size: 17pt;
  text-transform: uppercase;
  color:#333333;
  width:50%;
  margin: 0 auto;
}
.split hr{
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #340947;
  margin: 1em 0;
  padding: 0; 
  width: 30%;
  margin-right: 200px;
}
.split p{
  color:#333333;
  font-size: 13pt;
  width: 75%;
}
.split button{
  font-size: 12pt;
  color:#fff;
  text-transform: uppercase;
  display: block;
  background-color: #262626;
  border:none;
  padding:10px 40px;
  border-radius: 5px;
  margin-top: 40px;
}
.split{
  display: table;
}
.split .content-1{
  display: table-cell;
  vertical-align: middle;
  width: 50%;
}
.split1 .container{
  margin: 0 auto;
  width: 53%;
}
.split1 .container h3{
  font-size: 15pt;
}
.split1 .container p{
  font-size: 13pt;
  padding-bottom: 15px;
}
.split1 .container hr{
  padding: 0px;
  margin: 0px;
  display: block;
  height: 1px;
  border: 0;
  width: 50px;
  border-top: 2px solid #340947;
}
/*for mobile phones*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 425px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .all .split-1{
    display: none;
  }
  .split{
    width: 100vw;
  }
  .minus-group{
    visibility:visible;
  }
  .minus-group i {
    padding-right:5px;
  }
  .minus-group .one{
    color:#1aa1ff;

  }
  .side-bar{
    background:transparent;
  }
  .overlay{
    width: 100vw;
  }
  .side-bar .second{
    left::-10px;
}
.split p{
  width:100%;
  }  
 .split footer{
    width:100%;
  }
  .split .centered{
    position: absolute;
    bottom: 100px;
    width: 75%;
    right: 50%;
    left: 15%;
    line-height:30px;
  }
  .login-wrap{
    width:100vw;
    position: absolute;
    left: 0;
  }
  .login-wrap h3{
    text-align: center;
  }
  .login-wrap hr{
    position: absolute;
    left: 80px;
  }
  .split1{
    background: url(../img/drew-hays-59204-unsplash.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw
  }
  .split .content-1 h2{
    width: 100%;
    text-align: center;
  }
  .split .content-1 p{
    text-align: center;
  }
  .split .content-1 hr{
    margin-right: 120px;
  }
  .split button{
    margin:0 auto;
  }
  .split1 .container{
    width: 70%
  }
  .split1 .third{
    display: none;
  }
  .split p{
    font-size:11pt;
  }
  .split h2{
    font-size:15pt;
  }
  .split button{
    margin-top:20px;
  }
  .overlay{
    font-size:11pt;
  }
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 425px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
.all .split-1{
  display: none;
}
.split{
  width: 100vw;
}
.side-bar{
  background:transparent;
}
.overlay{
  width: 100vw;
}
.side-bar .second{
  left:-10px;
}
.minus-group{
  visibility:visible;
}
.minus-group i {
  padding-right:5px;
  
}
.minus-group .one{
    color:#1aa1ff;

  }
.split p{
  width:100%;
}
.split footer{
  width:100%;
}
.split .centered{
  position: absolute;
    bottom: 100px;
    width: 75%;
    right: 50%;
    left: 15%;
    line-height:30px;
}
.login-wrap{
  width:100vw;
  position: absolute;
  left: 0;
}
.login-wrap h3{
  text-align: center;
}
.login-wrap hr{
  position: absolute;
  left: 80px;
}
.split1{
    background: url(../img/drew-hays-59204-unsplash.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw
  }
  .split .content-1 h2{
    width: 100%;
    text-align: center;
  }
  .split .content-1 p{
    text-align: center;
  }
  .split .content-1 hr{
    margin-right: 120px;
  }
  .split button{
    margin:0 auto;
  }
  .split1 .container{
    width: 70%
  }
  .split1 .third{
    display: none;
  }
  .split p{
    font-size:11pt;
  }
  .split h2{
    font-size:15pt;
  }
  .split button{
    margin-top:20px;
  }
  .overlay{
    font-size:11pt;
  }
}
/*for tablets*/
@media only screen 
  and (min-device-width: 425px) 
  and (max-device-width: 768px)
  and (-webkit-min-device-pixel-ratio: 2) {
.side-bar{
  width: 10%;
} 
.overlay{
  width: 100vw;
}
.split-1{
  width: 30%;
}
.split .container button{
  margin-top: 10px;
  margin-right: 100px;
}
}

/* Portrait */
@media only screen 
  and (min-device-width: 425px) 
  and (max-device-width: 768px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
.side-bar{
  width: 10%;
}
.overlay{
  width: 100vw;
}
.split-1{
  width: 30%;
}
.split .container button{
  margin-top: 10px;
  margin-right: 100px;
}
}

/*for laptops*/

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2) {
.side-bar{
  width: 8%;
} 
.overlay{
  width: 50%;
}
.split-1{
  width: 50%;
}
.split .content-1 h2{
  margin:0;
  width: 100%;
  text-align: center;
  margin-left: -20px;
}
.split .content-1 p{
  width: 100%;
}
.split .content-1 button{
      margin: 0 auto;
      margin-top: 10px;
}
.split1 .container{
  width: 80%;
}
.split1 .container p{
  font-size: 11pt;
  margin-bottom: 0px;
}
}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
.side-bar{
  width: 8%;
}
.overlay{
  width: 50%;
}
.split-1{
  width: 50%;
}
.split .content-1 h2{
  margin:0;
  width: 100%;
  text-align: center;
  margin-left: -20px;
}
.split .content-1 p{
  width: 100%;
}
.split .content-1 button{
  margin: 0 auto;
  margin-top: 10px;
}
.split1 .container{
  width: 80%;
}
.split1 .container p{
  font-size: 11pt;
  margin-bottom: 0px;
}
}
